@use 'variables.scss';
@use 'z-index.scss';
@use 'animations.scss';
@use 'components/terminal.scss';
@use 'components/resize-handle.scss';
@use 'components/code.scss';
@use 'components/editor.scss';
@use 'components/toast.scss';

html,
body {
  height: 100%;
  width: 100%;
}

:root {
  --gradient-opacity: 0.8;
  --primary-color: rgba(59, 130, 246, var(--gradient-opacity));    /* Blue-500 */
  --secondary-color: rgba(37, 99, 235, var(--gradient-opacity));  /* Blue-600 */
  --accent-color: rgba(29, 78, 216, var(--gradient-opacity));     /* Blue-700 */
  // --primary-color: rgba(96, 165, 250, var(--gradient-opacity));  /* Blue-400 */
  // --secondary-color: rgba(59, 130, 246, var(--gradient-opacity)); /* Blue-500 */
  // --accent-color: rgba(239, 246, 255, var(--gradient-opacity));   /* Blue-50 */
}
